<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet" />

    {% load django_bootstrap5 %} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %}
    {% load static %} 
    <link rel="shortcut icon" href="{% static '/blog/pics/favicon.ico' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'blog:index' %}">JazzCoding</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:new' %}">Добавить пост</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:drafts' %}">Черновики</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выход</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-warning">{{ user.username }}</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Вход</a>
              </li>
              {% endif %}
            </ul>
            <!-- <form class="d-flex"> -->
            <!--   <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"> -->
            <!--   <button class="btn btn-outline-success" type="submit">Поиск</button> -->
            <!-- </form> -->
          </div>
        </div>
      </nav>
    </header>
    <main class='container mt-3'>
      {% block content %}
      {% endblock content %}
    </main>
  </body>

</html>

