{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}


{% block content %}

<h1><b>{{ post.title }}</b></h1>
  {% for tag in tags %}
    <a class="badge mr-1" style="
      text-decoration: none;
      background-color: {{ tag.background }};
      color: {{tag.foreground}}">
      {{ tag.name }}
    </a>
  {% endfor %}
<h4 class="mt-3"><i>{{ post.author }}</i></h4>

<hr>

<div>
  {{ post.content | safe }}
</div>


<button onclick="history.back()" class="mt-3 btn btn-primary">Назад</button>

{% endblock %}
